.movie-poster{
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 5px;
    &:hover {
        border: #e2e2e2 solid 4px;
        border-color:#1976d2;
        transform: scale(1.05);
        cursor: pointer;
    }
}

.movie-item{
    display: flex;
    justify-content: center;
    align-items: center;
}