.movie-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        color: rgb(36, 0, 197);
    };
}

.movie-text {
    color: rgb(41, 1, 161);
    font-size: 1.25rem;
    font-weight: bold;

}

.movie-poster{
    aspect-ratio: 2/3;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    &:hover {
        border: #e2e2e2 solid 4px;
        border-color:#1976d2;
        transform: scale(1.05);
        cursor: pointer;
    }
}

.movie-item{
    display: flex;
    justify-content: center;
    align-items: center;
}