.img-box{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 1;
}

.img-box img{
    height: 100%;
    width: 100vw;
    object-fit: cover;
    object-position: top center;
    pointer-events: auto;
}

.img-box-text{
    position: absolute; 
    text-align: center;
    max-width: 80%;
    top: 0%;
    padding: 1rem 2rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.img-box-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(0deg,currentColor,transparent 30%);
}

.media-title{
    font-style: italic;
}