.movie-modal {
    position: absolute;
    max-height: 80vh;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    max-width: 75%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* softer shadow */
    border-radius: 18px;
    background-color: #0C2862;
    color: #CBD0DA;
    animation: fadeIn 0.3s ease-in-out;
}

.movie-modal-h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    font-style: italic;
    color:aliceblue;
    margin: 1.5rem 0px 0.5rem 0px;
}

button.rent-button{
    color: #1976d2;
    background-color: #FEE440;
    width: 50%;
    display: block;
    margin: auto;
    font-weight: bold;
    margin-top: 2rem;
}

.imdb-logo {
    width: 15%;
    min-width: 80px;
    border-radius: 1;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    cursor: pointer;
}

.modal-content {
    padding: 2rem;
}

.close-button{
    transform: scale(1.5);
    margin: 0.5rem;
    color: rgb(191, 184, 184)e;
    background-color: #181818;
    border-radius: 50%;
    opacity: 0.8;
}