.movie-modal {
    position: absolute;
    max-height: 80vh;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    max-width: 75%;
    min-width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* softer shadow */
    border-radius: 18px;
    outline: none;
    background-color: #0C2862;
    color: #CBD0DA;
    overflow-x: hidden;
}

.movie-modal-h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    font-style: italic;
    color:aliceblue;
    margin: 1.5rem 0px 0.5rem 0px;
}

button.rent-button{
    min-width: 150px;
    width: 50%;
    display: block;
    font-weight: bold;
}

.box-bar{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
    /* padding-right: 2rem; */
    justify-content: center;
}

.link-buttons{
    display: flex;
    align-items: center;
}

.imdb-logo {
    height: 30px;
    display: flex;
    margin-right: 1rem;
    cursor: pointer;
    /* flex-wrap: wrap; */
}


.modal-content {
    padding: 2rem;
    display: grid;
    column-gap: 2em;
    grid-template-columns: minmax(0,2fr) minmax(0,1fr);

}

.inner-modal-content{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.close-button{
    transform: scale(1.5);
    margin: 0.5rem;
    color: rgb(191, 184, 184)e;
    background-color: #181818;
    border-radius: 50%;
    opacity: 0.8;
}

.close-button:hover{
    opacity: 1;
}

.content-title{
    font-weight: bold;
    color: #949698;
}

.info-modal{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-width: 200px;
    min-height: 200px;

    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    border-radius: 18px;
    outline: none;
    background-color: #242424;
    color: #b1ceea; 
    overflow-x: hidden;

    padding: 2rem;
}