/* src for vhs effect https://codepen.io/Mobius1/embed/ZNgwbr/?theme-id=modal */
.test{
    color: rgb(5, 38, 143);
    font-size: 12rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    animation: flicker 4s linear infinite;
}

.logo-container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.logo{
  padding-bottom: 2rem;
  display: block;
  margin: auto;
  width: 50vmax;
}

.features-box{
  display: flex;
  margin: auto;
  width: 100%;
  height: 75vh;
  margin-top: 10vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  /* border: 5px solid red; */
  min-height: fit-content;
}

.features{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
  flex-wrap: wrap;
}

.icon-box{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  width: 20%;

  &:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
  }
}

.tv-container{
  padding-bottom: 2rem;
  position: absolute;
  width: 50vmax;
  height: 100%;
  /* border: 5px solid red; */
}

.tv-frame{
  display: block;
  margin: auto;
  width: 62%;
  height: 55%;
  /* border: 5px solid black; */
  border-radius: 18px;
  position: absolute;
  left: 10.2%;
  top: 10%;
}
.tv-buttons{
  display: block;
  margin: auto;
  width: 18%;
  min-width: 40px;
  height: 53%;
  cursor: pointer;
  position: absolute;
  bottom: 40%;
  left: 77.5%;
  /* background-color: white; */
}

.screen-frame{
  /* border: 5px solid red; */
  border-radius: 18px;
  position: absolute;
  left: 9%;
  top: 14%;
  width: 61.5%;
  height: 75%;
  box-shadow: 0px 0px 30px 2px black;

}


.tv-screen{
  display: block;
  /* margin: auto; */
  width: 100%;
  height: 100%;
  /* border: 5px solid black; */
  border-radius: 18px;
  position: absolute;
  background: 
  repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
  repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
background-blend-mode: difference;

  animation: b .2s infinite alternate;
}

.tv-image{
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  /* left: 16%; */
  /* top: 18.4%;   */
  border-radius: 18px;
  /* box-shadow: 0px 0px 30px 2px black; */
  animation: b .2s infinite alternate;
}

.tv-effect{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  opacity: 0.20;
  
  animation: wobblex .1s infinite alternate, wobbley 1s infinite alternate;
  animation: b .2s infinite alternate;
  background: 
  repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
  repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
background-blend-mode: difference;

}

.feature-title{
  display: flex;
}



@keyframes b{
  100% {background-position: 50% 0, 60% 50%}
}


@keyframes flicker {
    0%, 19.9%, 22%, 62.9%, 64%, 64.9%, 70%, 100% {
      opacity: 0.99;
      text-shadow: 
        -1px -1px 0 rgba(255,255,255, 0.4), 
        1px -1px 0 rgba(255,255,255, 0.4), 
        -1px 1px 0 rgba(255,255,255, 0.4), 
        1px 1px 0 rgba(255,255,255, 0.4), 
        0 -2px 8px, 
        0 0 2px, 
        0 0 5px #fbff00, 
        0 0 15px #fff344, 
        0 0 2px #f7f8f2, 
        0 2px 3px #fafafa;
    }
    20%, 21.9%, 63%, 63.9%, 65%, 69.9% {
      opacity: 0.4;
      text-shadow: none;
    }
  }
  .wobblex {
    animation: wobblex 200ms infinite;
  }
  
  .wobbley {
    animation: wobbley 200ms infinite;
  }
  
  
  @keyframes wobblex {
    50% {
      transform: translateX(0.5px);
    }
    51% {
      transform: translateX(0);
    }
  }
  @keyframes wobbley {
    0% {
      transform: translateY(0.5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  